<br>
<br>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">Director</th>
            <th scope="col">Producer</th>
            <th scope="col">Release date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in vm.films | orderBy: 'release_date'">            
            <td>{{f.title}}</td>
            <td>{{f.director}}</td>
            <td>{{f.producer}}</td>
            <td>{{f.release_date | date:'dd/MM/yyyy'}}</td>
            <td>                                
                <div class="btn-group">
                    <a class="btn" href="#"><i class="fas fa-info-circle fa-2x"></i></a>
                </div>                
            </td>
            
        </tr>
    </tbody>
</table>